:root {
  --mainBlue: #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffa400;
  --mainSpice: #7e191b;
}

body {
  font-family: "Chicle", cursive !important;
  background: white !important;
  color: var(--mainDark) !important;
}

.text-title {
  font-family: "Chicle", cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-blue {
  color: var(--mainBlue);
}

.text-spice {
  color: var(--mainSpice);
}

.text-bright {
  color: var(--lightBlue);
}

.text-white {
  color: var(--lightWhite);
}

.btn-black {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainDark);
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainDark) !important;
}
.btn-black:hover {
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}

.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainYellow);
}

.guitar-pic {
  position: relative;
  width: 220px;
  height: 250px;
  max-width: 220px;
  max-height: 250px;
  min-width: 220px;
  min-height: 250px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
